html {
    background: url("img/spacebar.png") no-repeat center fixed;
}

div {
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgba(214, 214, 214, 0.432);
    padding: 50px;
    border-radius: 25px;
}

p {
    font-size: large;
}

button {
    font-size: large;
    border-radius: 5px;
}